$primary1: #4cd30c;
$primary2:#38A600;

$seconsary1: #ffe34e;
$seconsary2: #FFC300;
$seconsary3: #C9FAFB;
$seconsary4: #7DD6D8;

$nature1: #FFFFFF;
$nature2: #E8E8E8;
$nature3: #767872;
$nature4: #000000;

$title-size: 60px;
$sub-title-size: 48px;
$main-size: 24px;
 

$font-family: 'Cubic 11', 'Fahkwang', "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
$font-family2: '8-bit Operator+','Fahkwang', '8-bit Operator+ SC',"微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
$font-family3: '8-bit Operator+ 8', 'Fahkwang', '8-bit Operator+ SC', "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
$font-family4: 'Fahkwang', "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;